img {
    max-width: 100%;
}

ul {
    padding-left: 2rem !important;
}

pre {
	width: 100%;
	padding: 1rem 2rem 1rem 2rem;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
}

.card {
    margin-top: 2rem !important;
}