.css-692fgp, /* timeline - dates */
.css-vcfpfv /* timeline - diamond and date */
{
    background-color: darkslategray !important;
    outline: 10px solid #5ae6ab !important;
}

.css-o1utbh, /* timeline - content */
.css-692fgp /* timeline - dates */
{
    font-family: 'Josefin Sans', sans-serif !important;
}