body {	
	background: #5ae6ab;
    font-family: 'Josefin Sans', sans-serif;
    color: black !important;
}
::selection {
    background: darkslategrey;
    color: white;
}

a {
    font-weight: bolder !important;
    text-decoration: underline !important;
    text-decoration-color: white !important;
    color: black !important;
}
a:hover {
    color: darkslategray !important;
}

.home-content {
    bottom: 0px;
    position: absolute;
    width: 100%;
    padding-bottom: 2rem;
}

h1 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.transparent * {
    background-color: rgba(0,0,0,0)!important;
}

.profile-pic {
    width: 10rem;
}

.darkslategrey {
    background: darkslategrey !important;
}

.btn-floating {
    border-radius: 0 !important;
}

.btn-large, .btn-floating i, .btn {
    background: white !important;
    color: darkslategray !important;
}
.btn-large:hover, .btn-floating i:hover {
    background: darkslategray !important;
    color: white !important;
    text-decoration: none !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin-top: -75px; /* Half the height */
    margin-left: -75px; /* Half the width */
  }

.name {
    position: fixed;
    right: 100px;
}
  
.card-title {
    font-weight: bolder !important;
}

.bold {
    font-weight: bolder;
}

.pointer {
    cursor: pointer;
}

blockquote {
    border-left-color: darkslategray !important;
}